* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
.container{
    background-color: white;
    
}
.navbar{
    background-color: white;
    height: 5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    
    
}

.navbar img{
    height: 3.5rem;
    width: auto;
}
.navbar a {
    display: flex;
    text-decoration: none;
}
.navbar h3 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

}
.content_card{
    
}

